<div class="card-columns" *ngIf="totalCases" >
  <div class="row">
    <div class="col-xs-4">
      <app-element [count]="totalCases" [name]="INFECTED" [message]="INFECTED_MSG" [color]="INFECTED_COLOR">
      </app-element>
    </div>
    <div class="col-xs-4">
      <app-element [count]="totalRecovered" [name]="RECOVERED" [message]="RECOVERED_MSG" [color]="RECOVERED_COLOR">
      </app-element>
    </div>
    <div class="col-xs-4">
      <app-element [count]="totalDeaths" [name]="DEATHS" [message]="DEATHS_MSG" [color]="DEATHS_COLOR"></app-element>
    </div>
  </div>
</div>
