table {
  width: 80vw;
}

.footer-row {
  font-weight: bold;
}

.header-row {
  font-weight: bold;
  font-size: 1em;
}

.example-container {
  width: 80vw;
  overflow: auto;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}
